{% extends 'base.html.twig' %}

{% block body %}
    <h1>Outgocategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for outgoCategory in outgoCategories %}
            <tr>
                <td><a href="{{ path('get_outgocategory', { 'id': outgoCategory.id }) }}">{{ outgoCategory.name }}</a></td>
                <td>{{ outgoCategory.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('get_outgocategory', { 'id': outgoCategory.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
