{% extends 'base.html.twig' %}

{% block body %}
    <h1>Participant</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ participant.name }}</td>
            </tr>
            <tr>
                <th>Adult</th>
                <td>{% if participant.adult %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('get_participants') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
